:root {
  --orange-color: #fe5d26;
  --black-color: #1a1423;
  --white-color: #f7f3e3;
  --pink-color: #f038ff;
  --green-color: #1c7c54;

  --color-primary: #fe9672;
  --color-secondary: #fe8359;
  --color-tertiary: #fe703f;
  --color-quaternary: #fe4a0d;
  --color-quinary: #f03e01;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  width: 100%;
  height: auto;
  font-family: sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  border: 20px solid var(--black-color);
  border-bottom: 50px solid var(--white-color);
  border-left: 50px solid var(--pink-color);
  background-color: var(--green-color);
}
#container {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 100px;
}
#triangle {
  width: 100%;
  height: 100%;
  margin: -50% auto;
  border-left: 200px solid var(--green-color);
  border-right: 200px solid var(--pink-color);
  border-top: 1000px solid var(--orange-color);
}

#card {
  position: absolute;
  margin-top: -170%;
  margin-left: 5%;
  width: 300px;
  height: 610px;
  border: 10px solid var(--white-color);
  background-color: var(--white-color);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

h1 {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.5rem;
  margin-top: 2rem;
  padding: 0.5rem;
  
}

.dancing {
  text-shadow: 5px 5px 0 rgba(240, 56, 255, 0.5),
    10px 10px 0 rgba(28, 124, 84, 0.5);
  animation: shadow-dance 3s infinite;
  letter-spacing: 0.4rem;
}

.italic {
    font-style: italic;
    font-weight: 100;
}

h3 {
  margin: 2rem;
  text-align: center;
  text-transform: lowercase;
}

a {
  color: var(--white-color);
  text-decoration: none; /* no underline */
}
.neon-text {
    border: 2px solid var(--green-color);
    border-left: transparent;
    border-right: transparent;
    border-radius: 1px;
    /* box-shadow: 0  rgba(240, 56, 255, 0), 0 0 5px  rgba(240, 56, 255, 0.2), 0 0 5px  rgba(240, 56, 255, 0.2), 0 0 5px  rgba(240, 56, 255, 0.2), 0 0 5px  rgba(240, 56, 255, 0.2); */
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 5rem;
    padding: 5% ;
    color: var(--white-color);
    text-shadow: 0 0 5px  rgba(240, 56, 255, 0.5), 0 0 5px  rgba(240, 56, 255, 0.5), 0 0 5px  rgba(240, 56, 255, 0.5), 0 0 5px  rgba(240, 56, 255, 0.5), 0 0 5px  rgba(240, 56, 255, 0.5);
    animation: glow 1.5s infinite alternate;
    text-wrap: none;
}

.styled-text {
  color: var(--green-color);
  font-weight: 100;
  font-size: 3rem;
  line-height: 3rem;
}

.styled-text-3 {
  color: var(--green-color);
  font-weight: 100;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: -0.18rem;
  font-style: oblique;
}



@keyframes shadow-dance {
  0%,
  100% {
    text-shadow: 5px 5px 0 rgba(240, 56, 255, 0.5),
      10px 10px 0 rgba(28, 124, 84, 0.5);
  }
  50% {
    text-shadow: -5px -5px 0 rgba(28, 124, 84, 0.5),
      -10px -10px 0 rgba(240, 56, 255, 0.5);
  }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px  rgba(240, 56, 255, 0.1), 0 0 10px  rgba(240, 56, 255, 0.1), 0 0 20px  rgba(240, 56, 255, 0.2), 0 0 10px  rgba(240, 56, 255, 0.5), 0 0 10px  rgba(240, 56, 255, 0.5);
    }
    100% {
        text-shadow: 0 0 10px  rgba(240, 56, 255, 1), 0 0 20px  rgba(240, 56, 255, 1), 0 0 10px  rgba(240, 56, 255, 1), 0 0 10px rgba(240, 56, 255, 1), 0 0 20px  rgba(240, 56, 255, 1);
    }
}


.text-shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 2rem;
  padding-bottom: 1rem;
  color: var(--color-primary);
  animation: shadows 2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    transform: translate(-6px, -6px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    transform: translate(-9px, -9px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}
